@font-face {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  src: url(../fonts/MontserratRegular/MontserratRegular.woff2) format("woff2");
}

@font-face {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  src: url(../fonts/MontserratBold/MontserratBold.woff2) format("woff2");
}
