@use "./helpers" as *;

/* ============== Modern Container ============== */
.wrapper {
  --wrapper-width: rem(1600);
  width: min(calc(100% - 2 * var(--x-padding)), var(--wrapper-width));
  margin-inline: auto;

  @include desktop-xl {
    --wrapper-width: rem(1320);
  }

  @include desktop-l {
    --wrapper-width: rem(1140);
  }

  @include desktop {
    --wrapper-width: rem(960);
  }

  @include tablet {
    --wrapper-width: rem(720);
  }

  @include mobile {
    --wrapper-width: rem(540);
  }
}

.grid {
  --gutter: calc(2 * var(--x-padding));
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: var(--gutter);

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }

  &--2 {
    @include tablet {
      --gridColumns: 1;
    }
  }

  &--3 {
    @include desktop {
      --gridColumns: 2;
    }

    @include mobile {
      --gridColumns: 1;
    }
  }
}

/* ============== Classic Container ============== */

.container {
  --container-width: rem(1600);

  margin: 0 auto;
  padding: 0 var(--x-padding);
  width: 100%;
  max-width: calc(var(--container-width) + 2 * var(--x-padding));

  @include desktop-xl {
    --container-width: rem(1320);
  }

  @include desktop-l {
    --container-width: rem(1140);
  }

  @include desktop {
    --container-width: rem(960);
  }

  @include tablet {
    --container-width: rem(720);
  }

  @include mobile {
    --container-width: rem(540);
  }
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--x-padding);
  width: 100%;
}
